.background {
  height: 100%;
  padding: 5em;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

/* .upper-row,
.lower-row {
  padding: 70px;
} */

/* .type {
  margin-top: 10px;
  align-self: center;
} */

.ant-typography {
    padding: 11%;
}

.outer-card {
  /* height: 75vh; */
  width: 85%;
}

.button {
    margin: 60px;
}

.outer-card h1 {
  color: #585a5f;
}

.outer-card img {
  width: 100%;
  height: 100%;
}

.priceChart {
    padding: 7.5em;
}

.inner-card > h2 {
  color: #585a5f;
}
