.container {
  margin: 20px;
}

.hero {
  background-color: #363d4a;
  color: #eff0f2;
  text-align: center;
}

.heroContainer {
  margin: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #eff0f2;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

.heroImg,
.heroImg img {
  color: white;
  max-width: 100%;
  height: auto;
}

.paymentHero {
  padding: 15px;
}

/* Sponsors */



.sponsors{
  text-align: center;
  padding: 15px;
  
}

.sponsors-icons{
  font-size: 60px;
}
